.todoItem{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #00B0FF;
  margin-top: 24px;
}

.textTodo{
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    width: calc(100% - 120px); 
}

.check-text--active{
    text-decoration: line-through;
}
