
body {
  --tw-bg-opacity: 1;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity));
  background-image: url(/public/bg.svg);
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Onest',sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: white;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
}
