.inputTodoSearch {
    padding: 0.5rem;
    border-radius: 1rem;
    border-width: 3px;
    border-color: #0099FF;
    border-style: solid;
    background-color: rgb(17 28 45 / var(--tw-bg-opacity));
    color: white;
    font-size: 1rem;
    font-weight: 700;
    width: 25rem;
}

.inputTodoSearch:focus {
    outline-color: #0099FF;
}