.inputCheckbox{
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #111c2d;
  border-radius: 4px;
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: black;
  border-color: black;
}

.check--active::before{
  content: '✔';
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textTodo{
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    width: calc(100% - 120px); 
}

.check-text--active{
    text-decoration: line-through;
}

.borrarTodo:hover{
    fill: red;
}

.todoItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: #00B0FF;
  padding: 1rem;
  height: 2rem;
}

.eliminarTodo{
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  margin: 0;
  padding: 0;
}